<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="this is a meet patel portfolio website">
    <!-- link stylesheet -->
    <title>Meet Patel</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="./image/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" href="android-chrome-512x512.png">

</head>

<body>
    <!-- header section start here -->

    <header class="header">
        <div class="logo"><a href="http://localhost:5000" aria-label="portfolio name">Meet Patel</a></div>
        <nav class="navbar">
            <ul class="links">
                <li>
                    <a href="#home" aria-label="redirect home section for large screen">Home</a>
                    <a href="#about" aria-label="redirect about section for large screen">About</a>
                    <a href="#skill" aria-label="redirect skill section for large screen">Skill</a>
                    <a href="#project" aria-label="redirect project section for large screen">Project</a>
                    <a href="#contact" aria-label="redirect contact section for large screen">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars ham"></i>
            <i class="fa-solid fa-xmark cross"></i>
        </div>
        <div class="drop_down">
            <ul>
                <li>
                    <a href="#home" aria-label="redirect home section for small screen">Home</a>
                    <a href="#about" aria-label="redirect about section for small screen">About</a>
                    <a href="#skill" aria-label="redirect skill section for small screen">Skill</a>
                    <a href="#project" aria-label="redirect project section for small screen">Project</a>
                    <a href="#contact" aria-label="redirect contact section for small screen">Contact</a>
                </li>
            </ul>
        </div>
    </header>
    <!-- header section end here -->

    <!-- main section start here -->
    <main>
        <!-- home section start here -->
        <section class="home" id="home">
            <div>
                <div class="infocontainer">
                    <div class="devinfo text">
                        <div class="hello">Hello I am,</div>
                        <div class="devname">Meet Patel</div>
                        <div class="devabout">I am a Student</div>

                        <div class="btn">
                            <a href="./Meetpatel_CV.pdf" download="Meet_CV" aria-label="
                            resume pdf"><button class="cv">Download MyCv</button></a>
                            <a href="#contact"><button class="hire"
                                    aria-label="hire button to redirect the contact page">Hire Me</button></a>
                        </div>
                    </div>
                    <div class="mypic">
                        <img src="../image/student-pic-64b76d5f46d22.webp" alt="student image">
                    </div>
                </div>
            </div>
            <div class="whatsapp">
                <a href="https://wa.me/918999774477" target="_blank" aria-label="image for whatsapp logo"><img
                        src="./image/whatsapp-2-64b76d5f32751.webp" alt="whatsapp logo"></a>
            </div>
        </section>

        <!-- home section end here -->

        <!-- about section start here -->
        <section class="about" id="about">
            <h1> <span style="color: #001e36 ;">About </span>Me</h1>
            <hr>
            <!-- <div class="mainabout"> -->
            <div class="myabout">
                <div class="part1">
                    <div class="myimg">
                        <img src="../image/20211205-195036-02-removebg-preview-64b76d5b41133.webp" alt="">
                    </div>
                </div>
                <div class="part2">
                    <div class="intropara">
                        <p>Hello,
                            I'm Meet Patel.I am pursuing my B.tech degree in Information Technology (IT) field at Ahmedabad. I have goal of
                            becoming a Full-stake developer. I am also interesting of creating user friendly web
                            applications , projects deployment and problems slowing.</p>
                        <p> I have an experience of HTML , CSS , Javascript, Bootstrap, React and NodeJs. I am always
                            looking for new challenges and opportunities to improve my web development skills.</p>
                        <p>You can check out some of my projects below and observe how I can fulfill your web
                            developer's needs. In addition to that if you want to create landing page , blog , e
                            commerce website or some other projects I can deliver robust, understandable and high
                            quality results that meet your requirements, expectations , time nd budget.</p>
                        <p>
                            Thank you for looking up my portfolio website. I hope u like my portfolio website and also
                            it fulfill your requirements which you had seen above. To conclusion that if you have any
                            questions or feedback you can contact me.
                            Thank you .</p>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </section>
        <!-- about section end here -->

        <!-- skill section start here -->
        <section class="skill" id="skill">
            <h1> <span style="color: #001e36 ;">My </span>Skill</h1>
            <hr>

            <div class="myskill">
                <div class="childskill">

                    <div class="iteam1"><img src="../image/html-64b76a4f0862f.webp" alt="skill img1" srcset="">
                        <p>html</p>
                    </div>
                    <div class="iteam2"><img src="../image/css-3-64b76a4ce3206.webp" alt="skill img2" srcset="">
                        <p>css</p>
                    </div>
                    <div class="iteam3"><img src="../image/js-64b76a5058e5f.webp" alt="skill img3" srcset="">
                        <p>js</p>
                    </div>
                    <div class="iteam4"><img src="../image/java-64b76a4ec2a50.webp" alt="skill img4" srcset="">
                        <p>java</p>
                    </div>
                    <div class="iteam5"><img src="../image/github-64b76a4cdcdb8.webp" alt="skill img5" srcset="">
                        <p>github</p>
                    </div>
                    <div class="iteam6"><img src="../image/node-js-64b76a51c27ee.webp" alt="skill img6" srcset="">
                        <p>nodejs</p>
                    </div>
                    <div class="iteam7"><img src="../image/react-js-64b76a521c662.webp" alt="skill img7" srcset="">
                        <p>react js</p>
                    </div>
                    <div class="iteam8"><img src="../image/mongodb-64b76a5049dd4.webp" alt="skill img8" srcset="">
                        <p>mongodb</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- skill section end here -->

        <!-- project section start here -->
        <section class="project" id="project">
            <h1> <span style="color: #001e36 ;">My </span>Projects</h1>
            <hr>
            <div class="myproject">
                <div class="childproject">

                    <div class="projectiteam1"><a href="https://shreevardayanijwellers.netlify.app/"
                            target="_blank"><img src="../image/project1.webp" alt="project1" srcset=""></a>
                        <p>E-Commerce Website:- Shree Vardayani Jwellers</p>
                    </div>
                    <div class="projectiteam2">
                        <a href="https://github.com/meetpatel2512/Qr-code-generator" target="_blank"><img
                                src="../image/project2.webp" alt="project2" srcset=""></a>
                        <p>Qr Code Generator</p>
                    </div>
                    <div class="projectiteam3"><a
                            href="https://drive.google.com/file/d/1aqTLX4ZD863NeEBJH3uS2NPyNKeU6Ib_/view?usp=drive_link"
                            target="_blank"><img src="../image/project3.webp" alt="project3" srcset=""></a>
                        <p>To do List</p>
                    </div>
                    <div class="projectiteam4"><a href="https://github.com/meetpatel2512/Laughter-Anywhere"
                            target="_blank"><img src="../image/project4.webp" alt="project4" srcset=""></a>
                        <p>Laughter Anywhere</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- project section end here -->

        <!-- contact section start here -->
        <section class="contact" id="contact">
            <h1> <span style="color: #001e36 ;">Get In </span>Touch</h1>
            <hr>

            <div class="parent">
                <div class="child">
                    <div class="contact1">
                        <h1>Let's get in touch</h1>
                        <div class="para">
                            <p>If you like what you see, feel free to contact me anytime. I’m always open to new
                                challenges and opportunities. Thank you for visiting my portfolio website.
                            </p>
                        </div>
                        <div class="digitalcontact">
                            <div class="location">
                                <i class="fa fa-location-dot"></i>
                                <p>Ahmedabad,Gujarat,India</p>
                            </div>
                            <div class="phone">
                                <i class="fa fa-phone"></i>
                                <p>+91 8999774477</p>
                            </div>
                            <div class="envelope">
                                <i class="fa fa-envelope"></i>
                                <p>patelmeetc022@gmail.com</p>
                            </div>
                        </div>
                        <p>Connect with us:</p>
                        <div class="digitalmedia">
                            <div class="digitaliteam">
                                <a href="https://www.facebook.com/profile.php?id=100015245191704&mibextid=ZbWKwL"
                                    target="_blank" aria-label="facebook profile-page link"><i
                                        class="fa-brands fa-facebook facebook"></i></a>
                            </div>
                            <div class="digitaliteam">
                                <a href="https://instagram.com/meetpatel_63?igshid=NGExMmI2YTkyZg==" target="_blank"
                                    aria-label="instagram profile-page link"><i
                                        class="fa-brands fa-instagram instagram"></i></a>
                            </div>
                            <div class="digitaliteam"><a href="https://www.linkedin.com/in/meet-patel-412b47224"
                                    target="_blank" aria-label="linkedin profile-page link"><i
                                        class="fa-brands fa-linkedin-in linkedin-in"></i></a></div>
                            <div class="digitaliteam"><a href="https://github.com/meetpatel2512" target="_blank"
                                    aria-label="github profile-page link"><i class="fa-brands fa-github github"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="contact2">
                        <h1>Contact Us</h1>

                        <div class="mycont">
                            <form action="/contact" method="post" class="form">
                                <label for="fname">
                                    <input type="text" name="name" id="fname" class="fname" placeholder="Name" required>
                                </label>
                                <label for="email">
                                    <input type="email" name="email" id="email" class="email" placeholder="Email"
                                        required>
                                </label>
                                <label for="subject">
                                    <input type="text" name="subject" id="subject" class="subject"
                                        placeholder="Subject">
                                </label>
                                <label for="message">
                                    <textarea name="message" id="message" class="message"
                                        placeholder="Message"></textarea>
                                </label>
                                <button type="submit" class="sbtn">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact section end here -->

    </main>
    <!-- main section end here -->

    <!-- footer section start here -->
    <footer>
        <div class="footer">
            <div class="copyright">
                <p>Created By Meet Patel</a>; Copyright 2022.All
                    rights reserved</p>
            </div>
        </div>
    </footer>
    <!-- footer section end here -->

    <!-- script here -->
    <script src="./script.js"></script>

    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</body>

</html>